.vfb-config-panel-container {
  @apply overflow-y-auto overflow-x-hidden absolute inset-0 z-1 px-5 pb-6 bg-white transition transform duration-150 dark:bg-dark-800;
}

.vfb-config-panel-container-hidden {
  @apply translate-x-full;

  &.vfb-config-panel-container-left {
    @apply -translate-x-full;
  }
}

.vfb-config-panel-header-container {
  @apply flex justify-between items-center px-5 py-4 border-b border-gray-200 bg-gray-100 -mx-5 dark:bg-dark-700;
}

.vfb-config-panel-header {
  @apply flex items-center justify-between w-full;
}

.vfb-config-panel-header-wrapper-left {
  @apply flex items-center;
}

.vfb-config-panel-header-wrapper-right {
  @apply flex items-center;
}

.vfb-config-panel-header-close {
  @apply mt-0.5 mr-2 text-gray-400 transition-colors hover:text-gray-800 cursor-pointer dark:text-dark-400 dark:hover:text-dark-300;
}

.vfb-config-panel-header-close-icon {

}

.vfb-config-panel-header-label {
  @apply text-xl;
}

.vfb-config-panel-header-warning {
  @apply text-red-500 text-[12px] ml-1.5 mt-1 cursor-pointer relative;
}

.vfb-config-panel-header-clone,
.vfb-config-panel-header-remove,
.vfb-config-panel-header-collapse {
  @apply flex items-center justify-center h-full text-gray-500 transition-colors cursor-pointer hover:text-gray-600 dark:text-dark-400 hover:dark:text-dark-300;
}


.vfb-config-panel-header-clone,
.vfb-config-panel-header-remove {
  @apply mr-3;
}

.vfb-config-panel-header-clone {
  @apply text-0.5md;
}

.vfb-config-panel-header-collapse-icon-open {
  
}

.vfb-config-panel-header-collapse-icon-close {
  
}

*, :before, :after, :root {
  --vf-dark-50: #EFEFEF;
  --vf-dark-100: #DCDCDC;
  --vf-dark-200: #BDBDBD;
  --vf-dark-300: #A0A0A0;
  --vf-dark-400: #848484;
  --vf-dark-500: #737373;
  --vf-dark-550: #555555;
  --vf-dark-600: #393939;
  --vf-dark-700: #323232;
  --vf-dark-750: #292929;
  --vf-dark-800: #262626;
  --vf-dark-900: #191919;
  --vf-dark-1000: #121212;
}

.vfb-config-form {
  *, :before, :after {
    --vf-gutter-sm: 0.5rem;

    --vf-min-height-input-sm: 2.125rem;

    --vf-py-input-sm: 0.375rem;
    --vf-px-input-sm: 0.675rem;

    --vf-radius-input: 6px;
    --vf-radius-checkbox-sm: 4px;

    --vf-bg-input: var(--vf-gray-100);
    --vf-bg-passive: var(--vf-gray-200);
    --vf-bg-selected: var(--vf-gray-200);
    --vf-border-color-passive: var(--vf-gray-200);
    
    --vf-border-color-input: var(--vf-gray-200);

    --vf-color-input: var(--vf-gray-900);
    --vf-color-placeholder: var(--vf-gray-400);
  }
}

.dark {
  .vfb-config-form {
    *, :before, :after {
      --vf-bg-input: var(--vf-dark-700);
      --vf-bg-passive: var(--vf-dark-700);
      --vf-bg-selected: var(--vf-dark-600);

      --vf-color-input: var(--vf-dark-100);
      --vf-color-placeholder: var(--vf-dark-500);

      --vf-border-color-passive: var(--vf-dark-700);
      --vf-border-color-input: var(--vf-dark-800);
      --vf-border-color-checkbox: var(--vf-dark-800);
    }
  }
}

.vfb-config-toggle + .vfb-config-toggle {
  @apply -mt-2;
}

.vfb-config-form-header {
  @apply text-black -mx-5 -mt-px text-0.5md font-semibold px-5 py-2 flex items-center justify-between cursor-pointer col-span-12 border-t border-b border-gray-150 bg-gray-50 dark:bg-dark-700 dark:border-dark-600 dark:text-white;
}

.vfb-config-form-header-first {
  @apply border-t-0-imp;
}

.vfb-config-form-header-non-collapsible {
  @apply cursor-auto-imp;
}

.vfb-config-form-header-collapse-container {
  @apply text-xs mr-1 order-2 text-gray-400 dark:text-dark-400;
}

.vfb-config-form-header-collapse-open {
}

.vfb-config-form-header-collapse-close {
}

.vfb-config-form-header-collapse-loading {
  @apply animate-spin;
}

.vfb-config-panel-input-language {
  @apply text-gray-400 font-bold text-0.5xs flex items-start pt-2.25 pr-1.5 uppercase order-1 cursor-text select-none dark:text-dark-400;

  & + input, & + textarea {
    @apply pr-1;
  }
}

.vfb-config-panel-input-language-editor {
  @apply text-gray-400 font-bold text-0.5xs uppercase cursor-text select-none bg-gray-100 bg-opacity-50 absolute bottom-1.5 right-2 leading-none p-0.5 dark:bg-dark-700 dark:text-dark-400;
}

.vfb-config-panel-warning {
  @apply bg-red-100 text-red-500 my-4 px-4 py-3 rounded leading-tight overflow-x-auto;
}

.vfb-config-panel-warning-text {
  @apply my-1;
}

.vfb-config-panel-warning-ul {
  @apply list-disc pl-5 leading-tight;
}

.vfb-config-panel-warning-li {
  @apply text-xs font-semibold -ml-1 pr-4 underline cursor-pointer;
}