.vfb-conditions {

}

.vfb-conditions-head {
  
}

.vfb-conditions-head-title {
  @apply font-semibold uppercase;
}

.vfb-conditions-head-subtitle {
  @apply flex items-center text-sm leading-none;
}


.vfb-conditions-head-label {
  @apply mr-1;
}

.vfb-conditions-head-secondary {
  @apply text-gray-500 italic;
}

.vfb-conditions-empty-wrapper {
  @apply mb-4 text-center;
}

.vfb-conditions-empty-icon {
  @apply mx-auto w-16 h-16 text-3xl bg-primary-500 text-primary-500 bg-opacity-20 rounded-full flex items-center justify-center;
}

.vfb-conditions-empty-title {
  @apply font-semibold text-lg mt-2;
}

.vfb-conditions-empty-subtitle {
  @apply text-gray-500 leading-none mb-4 dark:text-dark-400;
}

.vfb-condition-list {

}

.vfb-condition-list {
  @apply pl-10 relative;

  &:before {
    content: "";
    @apply w-px absolute top-0 bottom-11.5 left-4 ml-0.5 bg-gray-300 dark:bg-dark-500;
  }
}

.vfb-condition-list-item-and {
  @apply relative;

  &:before {
    content: "";
    @apply absolute top-3 h-4 -left-10 w-10 bg-white dark:bg-dark-700;
  }

  &:after {
    content: "and";
    @apply absolute top-3.5 -left-10 w-10 text-center leading-none uppercase text-0.5sm font-bold text-gray-400 dark:text-dark-400;
  }
}

.vfb-condition-list-add {
  @apply relative -ml-12;
}

.vfb-condition-list-remove {
  @apply dark:bg-dark-500;
}


.vfb-condition-sublist {
  @apply relative;

  &:before {
    content: "";
    @apply w-px absolute top-14 bottom-0 left-4 ml-0.5 bg-gray-300 dark:bg-dark-500;
  }
}

.vfb-condition-sublist-item-or {
  @apply pl-10 relative;

  &:before {
    content: "";
    @apply absolute top-3 h-4 left-0 w-10 bg-white dark:bg-dark-700;
  }

  &:after {
    content: "or";
    @apply absolute top-3.5 left-0 w-10 text-center leading-none uppercase text-0.5sm font-bold text-gray-400 dark:text-dark-400;
  }
}

.vfb-condition-sublist-add {
}


.vfb-conditions-render {
  @apply text-left bg-gray-50 border border-gray-200 px-3 py-2 rounded-md relative dark:bg-dark-700 dark:border-dark-700;
}

.vfb-conditions-render-title {
  @apply mb-2 flex justify-between items-center;
}

.vfb-conditions-render-title-text {
  @apply text-gray-500 uppercase font-semibold dark:text-dark-500;
}

.vfb-conditions-render-title-btn {
  @apply vfb-btn-primary vfb-btn-xs dark:border-primary-500;
}

.vfb-conditions-render-and-group {
  
}

.vfb-conditions-render-or-group {
  @apply ml-2;

  &:nth-of-type(1) {
    @apply ml-0;
  }
}

.vfb-conditions-render-one-wrapper {
}

.vfb-conditions-render-one {
  @apply flex;
}

.vfb-conditions-render-field {
  @apply font-bold;
  
  &:after {
    content: ' ';
  }
}

.vfb-conditions-render-operator {
  &:after {
    content: ' ';
  }
}

.vfb-conditions-render-expected {
  @apply font-semibold;
}

.vfb-conditions-render-or {
  @apply mt-0.75 ml-2 mr-1 text-xs inline-flex items-start justify-center;
}

.vfb-conditions-render-and {
  @apply mt-0.5 mr-1 text-xs inline-flex items-center justify-center;
}

.vfb-conditions-render-or,
.vfb-conditions-render-and {
  @apply font-bold text-gray-500 uppercase dark:text-dark-500;
}

.vfb-condition-icon {
  @apply relative text-primary-500 vfb-tooltip-group ml-px;
  color: var(--vf-gray-500);
  background: var(--vf-gray-300);
  border-radius: 3px;
  font-size: 12px;
  width: 18px;
  display: inline-flex;
  height: 18px;
  align-items: center;
  justify-content: center;
}

.vfb-conditions-render-empty-wrapper {
  @apply flex justify-between items-center;
}

.vfb-conditions-render-empty-text {
}

.vfb-conditions-render-empty-btn {
  @apply vfb-btn-primary vfb-btn-xs dark:border-primary-500;
}