.vfb-hidden-element-preview-text {
  @apply w-full italic text-gray-400;
}

.vfb-preview-element-container {
  @apply relative pointer-events-auto focus:outline-none;

  &.vfb-preview-element-container-hover > .vfb-preview-element-overlay,
  &.vfb-preview-element-container-hover >.vfb-preview-element-outer-wrapper > .vfb-preview-element-inner-container > .vfb-preview-element-inner-wrapper > .vfb-preview-element-inner-overlay {
    @apply border-primary-500;
  }

  &.vfb-preview-element-container-hover > .vfb-preview-element-resizer-icon,
  &.vfb-preview-element-container-hover > .vfb-preview-element-outer-wrapper > .vfb-preview-element-inner-container > .vfb-preview-element-inner-wrapper > .vfb-preview-element-resizer-icon {
    @apply inline-block;
  }

  &.vfb-preview-element-container-hover > .vfb-preview-element-name-tag {
    @apply inline-block;
  }

  &.vfb-preview-element-container-hover > .vfb-preview-element-columns-display,
  &.vfb-preview-element-container-hover > .vfb-preview-element-outer-wrapper > .vfb-preview-element-inner-container > .vfb-preview-element-inner-wrapper > .vfb-preview-element-columns-display {
    @apply inline-block;
  }

  &.vfb-preview-element-container-hover > .vfb-preview-element-actions-container-unselected {
    @apply flex;
  }
}

.vfb-preview-element-container-nested, 
.vfb-preview-element-container-list {
  transition: background 150ms;
  padding: 18px 10px;
  border-radius: 6px;
  cursor: pointer;
  background: var(--vf-container-bg);
  z-index: 0; // could fix tooltip hover issue
  --vf-container-bg-neutral: rgb(86 136 179 / 10%);
  --vf-container-bg-dynamic-1: rgb(0 208 255 / 12%);
  --vf-container-bg-dynamic-2: rgb(2 45 215 / 12%);
  --vf-container-bg-dynamic-3: rgb(255 0 244 / 15%);
  --vf-container-bg-dynamic-4: rgb(255 0 0 / 20%);
  --vf-container-bg-dynamic-5: rgb(0 0 0 / 12%);

  --vf-container-text-neutral: rgb(149 161 170);
  --vf-container-text-dynamic-1: rgb(91, 153, 168);
  --vf-container-text-dynamic-2: rgb(99 115 180);
  --vf-container-text-dynamic-3: rgb(139 86 137);
  --vf-container-text-dynamic-4: rgb(154 13 13);
  --vf-container-text-dynamic-5: rgb(0 0 0 / 54%);
}

.vfb-preview-wrapper-dark {
  .vfb-preview-element-container-nested, 
  .vfb-preview-element-container-list {
    --vf-container-bg-neutral: rgb(255 255 255 / 10%);
    --vf-container-bg-dynamic-1: rgb(0 208 255 / 20%);
    --vf-container-bg-dynamic-2: rgb(2 215 130 / 20%);
    --vf-container-bg-dynamic-3: rgb(0 255 12 / 20%);
    --vf-container-bg-dynamic-4: rgb(0 3 255 / 20%);
    --vf-container-bg-dynamic-5: rgb(0 0 0 / 20%);

    --vf-container-text-neutral: rgb(255 255 255 / 100%);
    --vf-container-text-dynamic-1: rgb(0 208 255 / 100%);
    --vf-container-text-dynamic-2: rgb(2 215 130 / 100%);
    --vf-container-text-dynamic-3: rgb(0 255 12 / 100%);
    --vf-container-text-dynamic-4: rgb(0 3 255 / 100%);
    --vf-container-text-dynamic-5: rgb(0 0 0 / 100%);
  }

  .vfb-preview-element-multi-resizer-handle {
    @apply bg-dark-500;
  }

  .vfb-preview-element-columns-display {
    @apply text-black;
  }
}

.vfb-preview-element-container-nested {
  --vf-container-bg: var(--vf-container-bg-neutral);
  --vf-container-text: var(--vf-container-text-neutral);
}

.vfb-preview-element-container-list,
.vfb-preview-element-container-list .vfb-preview-element-container-nested {
  --vf-container-bg: var(--vf-container-bg-dynamic-1);
  --vf-container-text: var(--vf-container-text-dynamic-1);
}

.vfb-preview-element-container-list .vfb-preview-element-container-list,
.vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-nested {
  --vf-container-bg: var(--vf-container-bg-dynamic-2);
  --vf-container-text: var(--vf-container-text-dynamic-2);
}

.vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list,
.vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-nested {
  --vf-container-bg: var(--vf-container-bg-dynamic-3);
  --vf-container-text: var(--vf-container-text-dynamic-3);
}

.vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list,
.vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-nested {
  --vf-container-bg: var(--vf-container-bg-dynamic-4);
  --vf-container-text: var(--vf-container-text-dynamic-4);
}

.vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list,
.vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-list .vfb-preview-element-container-nested {
  --vf-container-bg: var(--vf-container-bg-dynamic-5);
  --vf-container-text: var(--vf-container-text-dynamic-5);
}

.vfb-preview-element-container-no-visual-nesting {
  padding: 18px 1px;
  margin: 0 0;
}

.vfb-preview-element-container-sm {
  @apply form-text-sm;
}

.vfb-preview-element-container-md {
  @apply form-text;
}

.vfb-preview-element-container-lg {
  @apply form-text-lg;
}

.vfb-preview-element-container-error {
  @apply has-error;
}

.vfb-preview-element-container-empty {
  @apply flex;
}

.vfb-preview-element-container-conditional {
  @apply opacity-60;

  &.vfb-preview-element-container-nested-lvl1,
  &.vfb-preview-element-container-nested-lvl2,
  &.vfb-preview-element-container-nested-lvl3 {
    @apply opacity-60;
  }
}

.vfb-preview-element-container-editing {
  @apply opacity-80;

  .vfb-preview-element-overlay {
    @apply border-dashed border;
  }
}

.vfb-preview-element-warning {
  @apply absolute inset-0 bg-red-500 bg-opacity-20;
}

.vfb-preview-element-outer-wrapper {
  @apply grid grid-cols-12 flex-1;
}

.vfb-preview-element-inner-container {
  @apply flex-1 grid grid-cols-12;
}

.vfb-preview-element-inner-wrapper-before {
  @apply col-span-12;
}

.vfb-preview-element-inner-wrapper {
  @apply relative;
}

.vfb-preview-element-inner-wrapper-after {
  @apply col-span-12;
}

.vfb-preview-element-overlay {
  @apply absolute inset-0 border cursor-pointer;

  &.vfb-preview-element-overlay-resizing {
    @apply border-primary-500-imp;
  }

  &.vfb-preview-element-overlay-no-edit {
    @apply cursor-default;
  }
}

.vfb-preview-element-overlay-being-dragged {
  @apply border-dashed opacity-90 border;
}

.vfb-preview-element-overlay-selected {
  @apply border-primary-500 bg-primary-500 bg-opacity-10;
}

.vfb-preview-element-overlay-unselected {
  @apply border-transparent;
}

.vfb-preview-element-inner-overlay {
  @apply absolute inset-0 border cursor-pointer z-1;

  &.vfb-preview-element-inner-overlay-no-edit {
    @apply cursor-default;
  }
}

.vfb-preview-element-inner-overlay-selected {
  @apply border-primary-500;
}

.vfb-preview-element-inner-overlay-unselected {
  @apply border-transparent;
}

.vfb-preview-element-inert-wrapper {
  @apply h-full;
}

.vfb-preview-element-multi-resizer {
  @apply w-4 absolute right-[calc((var(--vf-gutter)/2+0.5rem)*-1)] -bottom-2 -top-2 z-2 cursor-ew-resize flex items-stretch justify-stretch;

  &:hover + .vfb-preview-element-multi-resizer-handle {
    @apply block;
  }
}

.vfb-preview-element-multi-resizer-handle {
  @apply absolute right-[calc((var(--vf-gutter)/2+0.0675rem)*-1)] -top-2 -bottom-2 hidden bg-gray-300 rounded-full w-0.5;
}

.vfb-preview-element-multi-resizer-handle-resizing {
  @apply block;
}

.vfb-preview-element-resizer {
  @apply absolute -right-1 w-2 top-0 bottom-0 cursor-ew-resize z-999;

  &:active {
    @apply opacity-0;
  }
}

.vfb-preview-element-resizer-icon {
  @apply absolute right-0 translate-x-1/2 w-2.25 h-2.25 bg-white border border-gray-500 rounded-sm shadow-mini top-1/2 transform -translate-y-1/2 pointer-events-none transition z-1;
}

.vfb-preview-element-resizer-icon-unselected {
  @apply hidden;
}

.vfb-preview-element-columns-display {
  @apply absolute left-0 -translate-x-1/2 bg-white border border-gray-500 rounded-sm shadow-mini top-1/2 transform -translate-y-1/2 pointer-events-none transition w-auto h-4 text-sm px-0.5 whitespace-nowrap leading-none z-1;
}

.vfb-preview-element-columns-display-unselected {
  @apply hidden;
}

.vfb-preview-element-name-tag {
  @apply absolute left-0 top-0 transform -translate-y-full bg-primary-500 text-white px-2 py-px text-xs;
}

.vfb-preview-element-name-tag-unselected {
  @apply hidden;
}

.vfb-preview-element-area-top {
  @apply absolute left-0 right-0 bottom-1/2;
}

.vfb-preview-element-area-top-sm {
  @apply -top-1;
}

.vfb-preview-element-area-top-md {
  @apply -top-2;
}

.vfb-preview-element-area-top-lg {
  @apply -top-2;
}

.vfb-preview-element-area-bottom {
  @apply absolute left-0 right-0 top-1/2;
}

.vfb-preview-element-area-bottom-sm {
  @apply -bottom-1;
}

.vfb-preview-element-area-bottom-md {
  @apply -bottom-2;
}

.vfb-preview-element-area-bottom-lg {
  @apply -bottom-2;
}

.vfb-preview-element-area-right {
  @apply absolute z-1 w-[10%] min-w-2;
}

.vfb-preview-element-area-right-with-children {
  @apply w-3;
}

.vfb-preview-element-area-right-sm {
  @apply -bottom-1 -top-1 right-0;
}

.vfb-preview-element-area-right-md {
  @apply -bottom-2 -top-2 right-0;
}

.vfb-preview-element-area-right-lg {
  @apply -bottom-2 -top-2 right-0;
}

.vfb-preview-element-area-left {
  @apply absolute z-1 w-[10%] min-w-2;
}

.vfb-preview-element-area-left-with-children {
  @apply w-3;
}

.vfb-preview-element-area-left-sm {
  @apply -bottom-1 -top-1 left-0;
}

.vfb-preview-element-area-left-md {
  @apply -bottom-2 -top-2 left-0;
}

.vfb-preview-element-area-left-lg {
  @apply -bottom-2 -top-2 left-0;
}

.vfb-preview-element-area-bottom-sm {
  @apply -bottom-1;
}

.vfb-preview-element-area-bottom-md {
  @apply -bottom-2;
}

.vfb-preview-element-area-bottom-lg {
  @apply -bottom-2;
}

.vfb-preview-element-area-middle {
  @apply col-span-12;
}

.vfb-preview-element-middle-drag-label-container {
  @apply absolute inset-0 z-1;
}

.vfb-preview-element-drag-label-wrapper {
  @apply bg-primary-500 absolute h-1 rounded-full pointer-events-none hidden;

  &.vfb-preview-element-drag-label-wrapper-visible {
    @apply block;
  }
}

.vfb-preview-element-drag-label-wrapper-top {
  @apply -left-2 -right-2 -top-0.5;
}

.vfb-preview-element-container-drop-top {
  & > .vfb-preview-element-area-top, & > div > .vfb-preview-element-drag-label-wrapper-top {
    display: block !important;
  }
}

.vfb-preview-element-drag-label-wrapper-bottom {
  @apply -left-2 -right-2 -bottom-0.5;
}

.vfb-preview-element-container-drop-bottom {
  & > .vfb-preview-element-area-bottom, & > div > .vfb-preview-element-drag-label-wrapper-bottom {
    display: block !important;
  }
}

.vfb-preview-element-drag-label-wrapper-right {
  @apply -top-2 -bottom-2 right-0 h-auto w-1 z-1;

  .vfb-preview-element-drag-label {
    @apply whitespace-nowrap transform text-[12px];
  }
}

.vfb-preview-element-container-drop-right {
  & > .vfb-preview-element-area-right, & > div > .vfb-preview-element-drag-label-wrapper-right {
    display: block !important;
  }
}

.vfb-preview-element-drag-label-wrapper-left {
  @apply -top-2 -bottom-2 left-0 h-auto w-1 z-1;

  .vfb-preview-element-drag-label {
    @apply whitespace-nowrap transform text-[12px];
  }
}

.vfb-preview-element-container-drop-left {
  & > .vfb-preview-element-area-left, & > div > .vfb-preview-element-drag-label-wrapper-left {
    display: block !important;
  }
}

.vfb-preview-element-drag-label-wrapper-middle {
  @apply top-1/2 left-0 right-0 transform -translate-y-1/2;
}

.vfb-preview-element-container-drop-middle {
  & > div > div > .vfb-preview-element-area-middle, & > div > div > div > div > .vfb-preview-element-drag-label-wrapper-middle {
    display: block !important;
  }
}

.vfb-preview-element-drag-label {
  @apply bg-primary-500 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 px-2 pt-0.5 pb-0.75 rounded-full leading-none text-0.5sm text-white whitespace-nowrap;
}

.vfb-preview-element-actions-container {
  @apply absolute right-0 top-0 transform -translate-y-full text-white;
}

.vfb-preview-element-actions-container-selected {
  @apply flex;
}

.vfb-preview-element-actions-container-unselected {
  @apply hidden;
}

.vfb-preview-element-clone {
  @apply w-4 h-4 flex items-center justify-center bg-primary-500 text-xxs cursor-pointer transition-colors hover:bg-primary-600 vfb-tooltip-group relative;
}

.vfb-preview-element-clone-disabled {
  @apply bg-opacity-60 hover:bg-opacity-60 cursor-not-allowed;
}

.vfb-preview-element-remove {
  @apply w-4 h-4 flex items-center justify-center bg-primary-500 text-xs ml-0.5 cursor-pointer transition-colors hover:bg-primary-600 vfb-tooltip-group relative;
}

.vfb-preview-element-remove-disabled {
  @apply bg-opacity-60 hover:bg-opacity-60 cursor-not-allowed;
}

.vfb-preview-nested-element-wrapper {
  @apply relative z-1 pointer-events-none;
}

.vfb-preview-nested-list-element-wrapper {
  @apply relative z-1 pointer-events-none grid grid-cols-12 col-span-12 w-full;
}

.vfb-preview-wrapper-preview {
  .vfb-preview-nested-element-wrapper {
    @apply z-auto;
  }

  .vfb-preview-nested-list-element-wrapper {
    @apply z-auto;
  }
}

.vfb-drag-placeholder-container {
  color: var(--vf-container-text);
  @apply col-span-12 text-[32px] flex items-center justify-center flex-col my-3 text-center;
}

.vfb-drag-placeholder-text {
  @apply text-base mt-2 leading-tight;
}