.vfb-preview-container {
  @apply w-full mx-auto flex flex-col items-center transition-all my-8 duration-300;

  &.vfb-hidden {
    @apply hidden;
  }
}

.vfb-preview-wrapper {
  @apply bg-white rounded-lg shadow-box-circle mx-auto w-full relative transition-all p-10;
}

.vfb-preview-wrapper-dark {
  @apply bg-dark-900 text-white;

  .vfb-preview-empty-title {
    @apply text-white;
  }

  .vfb-preview-empty-description {
    @apply text-dark-400;
  }
}

.vfb-preview-drag-wrapper {
  @apply bg-primary-500 absolute h-1 rounded-full pointer-events-none -left-2 -right-2 -top-0.5 mt-8;
}

.vfb-preview-drag-label {
  @apply bg-primary-500 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 px-2 pt-0.5 pb-0.75 rounded-full leading-none text-0.5sm text-white;
}

.vfb-preview-empty-container {
  @apply rounded-xl text-center py-8 leading-relaxed transition duration-300 bg-primary-500;
}

.vfb-preview-empty-container-active {
  @apply bg-opacity-10;
}

.vfb-preview-empty-container-inactive {
  @apply bg-opacity-0;
}

.vfb-preview-empty-icon-container {
  color: var(--vf-primary);
  @apply mx-auto mb-6 text-6xl;
}

.vfb-preview-empty-icon {
}

.vfb-preview-empty-title {
  @apply font-semibold text-[18px];
}

.vfb-preview-empty-description {
  @apply text-gray-500;
}

.vfb-preview-form-with-tabs {
  @apply -mt-2;
}

.vfb-preview-container-default {
  .col-span-1 { grid-column: span 1 / span 1 !important; }
  .col-span-2 { grid-column: span 2 / span 2 !important; }
  .col-span-3 { grid-column: span 3 / span 3 !important; }
  .col-span-4 { grid-column: span 4 / span 4 !important; }
  .col-span-5 { grid-column: span 5 / span 5 !important; }
  .col-span-6 { grid-column: span 6 / span 6 !important; }
  .col-span-7 { grid-column: span 7 / span 7 !important; }
  .col-span-8 { grid-column: span 8 / span 8 !important; }
  .col-span-9 { grid-column: span 9 / span 9 !important; }
  .col-span-10 { grid-column: span 10 / span 10 !important; }
  .col-span-11 { grid-column: span 11 / span 11 !important; }
  .col-span-12 { grid-column: span 12 / span 12 !important; }

  // Vertical
  .form-text-type label.text-type\:form-pt-input-border { padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important; }
  label.form-pr-gutter { padding-right: var(--vf-gutter) !important; }
  label.pb-0 { padding-bottom: 0!important; }

  // Horizontal
  label.form-pb-gutter\/3 { padding-bottom: calc(var(--vf-gutter) / 3) !important; }
  .form-text-type label.form-pt-0, :not(.form-text-type) label.form-pt-0 { padding-top: 0 !important; }
  label.form-pr-0 { padding-right: 0 !important; }

  // SM element size
  .form-text-type label.text-type\:form-pt-input-border-sm { padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important; }
  label.form-pr-gutter-sm { padding-right: var(--vf-gutter-sm) !important; }
  label.form-pb-gutter\/3-sm { padding-bottom: calc(var(--vf-gutter-sm) / 3) !important; }

  // LG element size
  .form-text-type label.text-type\:form-pt-input-border-lg { padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important; }
  label.form-pr-gutter-lg { padding-right: var(--vf-gutter-lg) !important; }
  label.form-pb-gutter\/3-lg { padding-bottom: calc(var(--vf-gutter-lg) / 3) !important; }
}

.vfb-preview-container-tablet {
  .col-span-1 { grid-column: span 1 / span 1 !important; }
  .col-span-2 { grid-column: span 2 / span 2 !important; }
  .col-span-3 { grid-column: span 3 / span 3 !important; }
  .col-span-4 { grid-column: span 4 / span 4 !important; }
  .col-span-5 { grid-column: span 5 / span 5 !important; }
  .col-span-6 { grid-column: span 6 / span 6 !important; }
  .col-span-7 { grid-column: span 7 / span 7 !important; }
  .col-span-8 { grid-column: span 8 / span 8 !important; }
  .col-span-9 { grid-column: span 9 / span 9 !important; }
  .col-span-10 { grid-column: span 10 / span 10 !important; }
  .col-span-11 { grid-column: span 11 / span 11 !important; }
  .col-span-12 { grid-column: span 12 / span 12 !important; }

  .#{$vfb-tablet-breakpoint}\:col-span-1 { grid-column: span 1 / span 1 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-2 { grid-column: span 2 / span 2 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-3 { grid-column: span 3 / span 3 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-4 { grid-column: span 4 / span 4 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-5 { grid-column: span 5 / span 5 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-6 { grid-column: span 6 / span 6 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-7 { grid-column: span 7 / span 7 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-8 { grid-column: span 8 / span 8 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-9 { grid-column: span 9 / span 9 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-10 { grid-column: span 10 / span 10 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-11 { grid-column: span 11 / span 11 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-12 { grid-column: span 12 / span 12 !important; }

  // Vertical
  .form-text-type label.text-type\:form-pt-input-border { padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important; }
  label.form-pr-gutter { padding-right: var(--vf-gutter) !important; }
  label.pb-0 { padding-bottom: 0!important; }

  // Horizontal
  label.form-pb-gutter\/3 { padding-bottom: calc(var(--vf-gutter) / 3) !important; }
  .form-text-type label.form-pt-0, :not(.form-text-type) label.form-pt-0 { padding-top: 0 !important; }
  label.form-pr-0 { padding-right: 0 !important; }

  // SM element size
  .form-text-type label.text-type\:form-pt-input-border-sm { padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important; }
  label.form-pr-gutter-sm { padding-right: var(--vf-gutter-sm) !important; }
  label.form-pb-gutter\/3-sm { padding-bottom: calc(var(--vf-gutter-sm) / 3) !important; }

  // LG element size
  .form-text-type label.text-type\:form-pt-input-border-lg { padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important; }
  label.form-pr-gutter-lg { padding-right: var(--vf-gutter-lg) !important; }
  label.form-pb-gutter\/3-lg { padding-bottom: calc(var(--vf-gutter-lg) / 3) !important; }


  // [SM] Vertical
  .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border { padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-gutter { padding-right: var(--vf-gutter) !important; }
  label.#{$vfb-tablet-breakpoint}\:pb-0 { padding-bottom: 0!important; }

  // [SM] Horizontal
  label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3 { padding-bottom: calc(var(--vf-gutter) / 3) !important; }
  .form-text-type label.#{$vfb-tablet-breakpoint}\:form-pt-0, :not(.form-text-type) label.#{$vfb-tablet-breakpoint}\:form-pt-0 { padding-top: 0 !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-0 { padding-right: 0 !important; }

  // [SM] SM element size
  .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-sm { padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-sm { padding-right: var(--vf-gutter-sm) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-sm { padding-bottom: calc(var(--vf-gutter-sm) / 3) !important; }

  // [SM] LG element size
  .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-lg { padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-lg { padding-right: var(--vf-gutter-lg) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-lg { padding-bottom: calc(var(--vf-gutter-lg) / 3) !important; }
}

.vfb-preview-container-desktop {
  .#{$vfb-tablet-breakpoint}\:col-span-1 { grid-column: span 1 / span 1 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-2 { grid-column: span 2 / span 2 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-3 { grid-column: span 3 / span 3 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-4 { grid-column: span 4 / span 4 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-5 { grid-column: span 5 / span 5 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-6 { grid-column: span 6 / span 6 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-7 { grid-column: span 7 / span 7 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-8 { grid-column: span 8 / span 8 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-9 { grid-column: span 9 / span 9 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-10 { grid-column: span 10 / span 10 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-11 { grid-column: span 11 / span 11 !important; }
  .#{$vfb-tablet-breakpoint}\:col-span-12 { grid-column: span 12 / span 12 !important; }

  .#{$vfb-desktop-breakpoint}\:col-span-1 { grid-column: span 1 / span 1 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-2 { grid-column: span 2 / span 2 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-3 { grid-column: span 3 / span 3 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-4 { grid-column: span 4 / span 4 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-5 { grid-column: span 5 / span 5 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-6 { grid-column: span 6 / span 6 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-7 { grid-column: span 7 / span 7 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-8 { grid-column: span 8 / span 8 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-9 { grid-column: span 9 / span 9 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-10 { grid-column: span 10 / span 10 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-11 { grid-column: span 11 / span 11 !important; }
  .#{$vfb-desktop-breakpoint}\:col-span-12 { grid-column: span 12 / span 12 !important; }
  

  // [SM] Vertical
  .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border { padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-gutter { padding-right: var(--vf-gutter) !important; }
  label.#{$vfb-tablet-breakpoint}\:pb-0 { padding-bottom: 0!important; }

  // [SM] Horizontal
  label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3 { padding-bottom: calc(var(--vf-gutter) / 3) !important; }
  .form-text-type label.#{$vfb-tablet-breakpoint}\:form-pt-0, :not(.form-text-type) label.#{$vfb-tablet-breakpoint}\:form-pt-0 { padding-top: 0 !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-0 { padding-right: 0 !important; }

  // [SM] SM element size
  .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-sm { padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-sm { padding-right: var(--vf-gutter-sm) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-sm { padding-bottom: calc(var(--vf-gutter-sm) / 3) !important; }

  // [SM] LG element size
  .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-lg { padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-lg { padding-right: var(--vf-gutter-lg) !important; }
  label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-lg { padding-bottom: calc(var(--vf-gutter-lg) / 3) !important; }


  // [LG] Vertical
  .form-text-type label.#{$vfb-desktop-breakpoint}\:text-type\:form-pt-input-border { padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-desktop-breakpoint}\:form-pr-gutter { padding-right: var(--vf-gutter) !important; }
  label.#{$vfb-desktop-breakpoint}\:pb-0 { padding-bottom: 0!important; }

  // [LG] Horizontal
  label.#{$vfb-desktop-breakpoint}\:form-pb-gutter\/3 { padding-bottom: calc(var(--vf-gutter) / 3) !important; }
  .form-text-type label.#{$vfb-desktop-breakpoint}\:form-pt-0, :not(.form-text-type) label.#{$vfb-desktop-breakpoint}\:form-pt-0 { padding-top: 0 !important; }
  label.#{$vfb-desktop-breakpoint}\:form-pr-0 { padding-right: 0 !important; }

  // [LG] SM element size
  .form-text-type label.#{$vfb-desktop-breakpoint}\:text-type\:form-pt-input-border-sm { padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-desktop-breakpoint}\:form-pr-gutter-sm { padding-right: var(--vf-gutter-sm) !important; }
  label.#{$vfb-desktop-breakpoint}\:form-pb-gutter\/3-sm { padding-bottom: calc(var(--vf-gutter-sm) / 3) !important; }

  // [LG] LG element size
  .form-text-type label.#{$vfb-desktop-breakpoint}\:text-type\:form-pt-input-border-lg { padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important; }
  label.#{$vfb-desktop-breakpoint}\:form-pr-gutter-lg { padding-right: var(--vf-gutter-lg) !important; }
  label.#{$vfb-desktop-breakpoint}\:form-pb-gutter\/3-lg { padding-bottom: calc(var(--vf-gutter-lg) / 3) !important; }

}