.vfb-btn-primary {
  &, &:before, &:after, &:root {
    --vf-bg-btn: theme('colors.primary.500');
    --vf-border-color-btn: theme('colors.primary.500');
  }
}

.vfb-relative {
  @apply relative;
}

.vfb-break-words {
  word-break: break-word;
}

a.vfb-learn-more,
.form-contains-link a.vfb-learn-more {
  @apply leading-none text-0.5xs relative -top-0.5 text-gray-400 whitespace-nowrap border-b border-dotted border-gray-400 dark:text-dark-400 dark:border-dark-400;
}

.vfb-dotted-link {
  @apply text-primary-500 border-b border-dotted border-primary-500;
}

.vfb-field-note {
  @apply -mt-1 text-right text-xs text-gray-400 dark:text-dark-400;
}

.vfb-info-container {
  @apply relative;

  &:hover .vfb-info-tooltip {
    @apply block;
  }
}

.vfb-info-icon {
  @apply text-sm ml-0.5;
}

.vfb-info-tooltip {
  @apply absolute top-6 right-1/2 transform translate-x-1/2 rounded px-2 py-1 bg-black bg-opacity-90 text-xs whitespace-nowrap text-center hidden;
}

.vfb-icon {
  @apply inline-block text-inherit overflow-visible align-icon;

  path {
    pointer-events: none;
  }
}

.vfb-icon-md {
  @apply h-1em;
}

.vfb-icon-lg {
  @apply h-[1.2em];
}

.vfb-hidden {
  @apply hidden;
}

.vfb-util-grid-cols-12 {
  @apply grid-cols-12;
}

.vfb-util-col-span-12 {
  @apply col-span-12;
}

.vfb-util-col-span-6 {
  @apply col-span-6;
}

.vfb-util-col-span-4 {
  @apply col-span-4;
}

.vfb-util-col-span-3 {
  @apply col-span-3;
}

.vfb-util-col-span-2 {
  @apply col-span-2;
}

.vfb-util-col-span-1 {
  @apply col-span-1;
}

.vfb-util-tabs-tiny,
.form-text-sm.vfb-util-tabs-tiny,
.vf-checkbox-tabs.vf-checkbox-tabs-sm.vfb-util-tabs-tiny,
.vf-radio-tabs.vf-radio-tabs-sm.vfb-util-tabs-tiny {
  @apply text-xs leading-tight;
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.vfb-util-tabs-tiny-text {
  @apply whitespace-nowrap overflow-hidden;
}

.vfb-util-tabs-tiny-label {
  @apply leading-none;
}

.vfb-util-tabs-small,
.form-text-sm.vfb-util-tabs-small,
.vf-checkbox-tabs.vf-checkbox-tabs-sm.vfb-util-tabs-small,
.vf-radio-tabs.vf-radio-tabs-sm.vfb-util-tabs-small {
  @apply text-sm leading-tight;
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.vfb-util-tabs-outline-gray-selected,
.vf-checkbox-tabs-sm.vfb-util-tabs-outline-gray-selected,
.vf-radio-tabs-sm.vfb-util-tabs-outline-gray-selected {
  @apply bg-gray-100 text-black border-gray-300 dark:border-dark-600 dark:bg-dark-600 dark:bg-opacity-100 dark:text-white;
}

.vfb-util-tabs-outline-gray-unselected,
.vf-checkbox-tabs-sm.vfb-util-tabs-outline-gray-unselected,
.vf-radio-tabs-sm.vfb-util-tabs-outline-gray-unselected {
  @apply bg-white text-gray-700 border-gray-300 dark:bg-dark-800 dark:text-white dark:border-dark-600;
}

.vfb-util-tabs-outline-selected,
.vf-checkbox-tabs.vf-checkbox-tabs-sm.vfb-util-tabs-outline-selected,
.vf-radio-tabs.vf-radio-tabs-sm.vfb-util-tabs-outline-selected {
  @apply bg-primary-500 bg-opacity-20 text-primary-600 border-primary-500 dark:border-dark-600 dark:bg-dark-600 dark:bg-opacity-100 dark:text-white;
}

.vfb-util-tabs-outline-unselected,
.vf-checkbox-tabs.vf-checkbox-tabs-sm.vfb-util-tabs-outline-unselected,
.vf-radio-tabs.vf-radio-tabs-sm.vfb-util-tabs-outline-unselected {
  @apply bg-white text-primary-500 border-primary-500 dark:bg-dark-800 dark:text-white dark:border-dark-600;
}

.vfb-util-number-input {
  @apply form-pl-input-sm form-py-input-sm pr-0;
}

.vfb-util-number-addon {
  @apply text-gray-500 dark:text-dark-400;
}

.vfb-util-colorpicker-input {
  @apply relative;
}

.vfb-util-colorpicker-addon {
  @apply absolute top-1.5 -right-0.5;
}

.vfb-util-props-group-container {
  @apply col-span-12;

  input[type="text"], input[type="search"] {
    @apply w-[inherit];
  }

  label.text-type\:form-pt-input-border-sm {
    @apply pr-2 break-words block;
  }

  label.text-type\:form-pt-input-border-sm:not(.vfb-prop-multiline) {
    @apply p-0 leading-none flex items-center pr-2 break-all;
  }
}

.vfb-util-props-group {
  @apply my-4;
}

.vfb-util-props-list-el-input,
.vfb-util-props-list-el-input-default,
.vfb-util-props-list-el-input-success,
.vfb-util-props-list-el-select,
.vfb-util-props-list-el-select-default,
.vfb-util-props-list-el-select-success,
.vfb-util-props-list-el-select-container,
.vfb-util-props-list-el-select-container-default,
.vfb-util-props-list-el-select-container-success {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  outline: none !important;
}

.vfb-util-props-list-el-input {
  @apply border-gray-200 dark:border-dark-600;
}

.vfb-util-props-list-el-input-default {
  @apply focused:border-primary-500 focused:dark:border-dark-400;
}

.vfb-util-props-list-el-input-success {
  @apply focused:border-primary-500 focused:dark:border-dark-400;
}

.vfb-util-props-list-el-select {
  @apply border-b border-gray-200 dark:border-dark-600 -bottom-px relative;
}

.vfb-util-props-list-el-select-default {
  @apply focused:border-primary-500 dark:bg-dark-800 dark:text-white focused:dark:border-dark-400;
}

.vfb-util-props-list-el-select-success {
  @apply focused:border-primary-500 dark:bg-dark-800 dark:text-white focused:dark:border-dark-400;
}

.vfb-util-props-list-el-select-container {
  @apply border-gray-200 dark:border-dark-600 relative;
}

.vfb-util-props-list-el-select-container-default {
  @apply focused:border-primary-500 focused:dark:border-dark-400;
}

.vfb-util-props-list-el-select-container-success {
  @apply focused:border-primary-500 focused:dark:border-dark-400;
}

.vfb-util-props-list-label,
.vf-label.vfb-util-props-list-label {
  @apply mb-4 mt-3.5 pb-0;
}

.vfb-util-props-list-add {
  @apply absolute top-0 right-0;
}

.vfb-util-props-list-item,
.vf-row.vfb-util-props-list-item {
  gap: 0;
} 


.vfb-util-props-list-in-object-add,
.vf-btn-list-add.vf-btn-list-add-sm.vfb-util-props-list-in-object-add {
  @apply -mt-1.25;
}

.vfb-util-props-separator-top {
  .vfb-util-props-list-add {
    @apply absolute top-4 right-4;
  }
}

div > div:first-of-type[style*="none;"] + .vfb-util-props-separator-top {
  border: 0;
  padding-top: 0;
  margin-top: 0;
}

.vfb-util-props-list-layout {
  @apply relative;
}

.vfb-util-props-list-subtitle {
  @apply uppercase text-gray-500 font-semibold mb-2 ml-2.5 mt-1 dark:text-dark-400;
}

.vfb-util-props-subtitle-no-m {
  @apply uppercase text-gray-500 font-semibold dark:text-dark-400;
}

.vfb-util-props-subtitle {
  @apply uppercase text-gray-500 font-semibold mb-2 dark:text-dark-400;
}

.vfb-util-props-separator-top {
  @apply border-t border-gray-150 px-5 -mx-5 pt-4 mt-2 dark:border-dark-600;
}

.vfb-util-props-separator {
  @apply border-b border-gray-150 px-5 -mx-5 pb-4 mb-2 dark:border-dark-600;
}

.vfb-util-props-multiline-label {
  @apply items-start form-pt-input-border;
}

.vfb-util-props-toggle-wrapper,
.vf-toggle-wrapper.vfb-util-props-toggle-wrapper {
  align-items: center !important;
  justify-content: flex-end;
  @apply form-h-input-sm;
}

.vfb-util-props-toggle-label,
.vf-label.vfb-util-props-toggle-label {
  @apply flex items-center;
}

.vfb-util-props-horizontal-label {
  @apply items-center leading-tighter;
}

.vfb-util-props-tags,
.vfb-util-props-tags .vf-multiselect-tag-wrapper {
  @apply whitespace-normal break-all;
}

.vfb-util-props-horizontal-label-sm {
  @apply text-type:form-pt-input-border-sm;
}

.vfb-util-props-horizontal-label-md {
  @apply text-type:form-pt-input-border;
}

.vfb-util-props-horizontal-label-lg {
  @apply text-type:form-pt-input-border-lg;
}

.vfb-util-props-not-horizontal-label-sm {
  @apply form-pb-gutter/3-sm;
}

.vfb-util-props-not-horizontal-label-md {
  @apply form-pb-gutter/3;
}

.vfb-util-props-not-horizontal-label-lg {
  @apply form-pb-gutter/3-lg;
}

.vfb-util-columns-number {
  @apply font-normal mb-2;
}

.vfb-util-columns-total {
  @apply text-gray-400 mb-2;
}

.vfb-util-props-link {
  @apply text-primary-500 border-b border-dotted border-primary-500;
}

.vfb-util-props-description {
  @apply text-right text-gray-500 dark:text-dark-400 text-sm italic form-h-input-sm pb-px flex items-center;
}

.vfb-util-props-accepted-formats-container {
  @apply text-sm -mt-3;
}

.vfb-util-props-accepted-return-formats-container {
  @apply text-sm -mt-1;
}

.vfb-util-props-error {
  @apply text-red-500 text-xs;
}

.vfb-util-color-preview {
  @apply w-5 h-5 rounded pointer-events-none;
}

.vfb-util-prop-label-with-link {
  // @apply flex items-center;
}

.vfb-util-prop-element-with-link {
  @apply flex items-center justify-between w-full;
}

.vfb-util-prop-language-container {
  @apply bg-gray-100 p-2 rounded-lg;
}

.vfb-util-prop-language-value {
  @apply bg-white;
}

.vfb-util-assistive-text {
  @apply absolute -m-px w-px h-px overflow-hidden;
  clip: rect(0 0 0 0);
}

.vfb-util-element-type {
  & + div {
    @apply -mt-2;
  }
}

.vfb-tooltip-group:hover {
  .vfb-tooltip {
    @apply inline-block;
  }  
}

.vfb-tooltip {
  @apply absolute z-999 transform bg-black text-white bg-opacity-80 px-1.5 py-0.5 rounded text-sm leading-tighter hidden whitespace-nowrap text-center select-none;

  &.vfb-tooltip-smaller {
    @apply px-1 text-0.5sm; 
  }
}

.vfb-tooltip-top {
  @apply -top-0.5 left-1/2 -translate-y-full -translate-x-1/2;

  &.vfb-tooltip-closer {
    @apply top-1; 
  }

  &.vfb-tooltip-further {
    @apply -bottom-1;
  }
}

.vfb-tooltip-bottom {
  @apply -bottom-0.5 left-1/2 translate-y-full -translate-x-1/2;

  &.vfb-tooltip-further {
    @apply -bottom-1;
  }
}

.vfb-tooltip-left {
  @apply top-1/2 -left-0.5 -translate-y-1/2 -translate-x-full;

  &.vfb-tooltip-closer {
    @apply left-1; 
  }

  &.vfb-tooltip-further {
    @apply -left-1.5;
  }
}

.vfb-tooltip-right {
  @apply top-1/2 -right-0.5 -translate-y-1/2 translate-x-full;

  &.vfb-tooltip-closer {
    @apply right-1; 
  }
}

.vfb-tooltip-top-left {
  @apply -top-0.5 left-0 -translate-y-full translate-x-0;
}

.vfb-tooltip-top-right {
  @apply -top-0.5 right-0 left-auto -translate-y-full translate-x-0;
}

.vfb-tooltip-bottom-left {
  @apply -bottom-0.5 left-0 translate-y-full translate-x-0;

  &.vfb-tooltip-closer {
    @apply bottom-1; 
  }

  &.vfb-tooltip-further {
    @apply -bottom-1.5;
  }
}

.vfb-tooltip-bottom-right {
  @apply -bottom-0.5 right-0 left-auto translate-y-full translate-x-0;

  &.vfb-tooltip-closer {
    @apply bottom-1; 
  }

  &.vfb-tooltip-further {
    @apply -bottom-1.5;
  }
}

.vfb-notification-container {
  @apply absolute left-16 right-16 mx-1 bottom-4;
}

.vfb-notification {
  @apply py-3 px-5 bg-white;
}

.vfb-text-button {
  @apply px-0 rounded-none bg-transparent text-black border-transparent hover:scale-100 block;
}

.vfb-btn-primary,
.vfb-btn-secondary,
.vfb-btn-transparent {
  @apply inline-block form-border-width-btn form-shadow-btn form-p-btn form-radius-btn form-text cursor-pointer focus:form-ring;
}

.vfb-btn-primary {
  @apply form-bg-btn form-color-btn form-border-color-btn;
}

.vfb-btn-secondary {
  @apply form-bg-btn-secondary form-color-btn-secondary form-border-color-btn-secondary;
}

.vfb-btn-transparent {
  @apply form-color-btn-secondary border-transparent hover:text-gray-900 dark:hover:text-dark-200;
}

.vfb-btn-sm {
  @apply form-p-btn-sm form-text-sm form-radius-btn-sm;
}

.vfb-btn-xs {
  @apply px-2 py-0.5 text-0.5sm rounded inline-block;
}

.vfb-no-px {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vfb-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.vfb-matrix-condition-button {
  position: relative;

  &:hover {
    .vfb-matrix-condition-button-tooltip {
      opacity: 1;
    }
  }
}

.vfb-matrix-condition-button-tooltip {
  @apply absolute left-1/2 -bottom-1 text-xs whitespace-nowrap transform -translate-x-1/2 translate-y-full bg-black bg-opacity-60 rounded px-1 transition-opacity opacity-0;
}

.vfb-matrix-condition-button-count {
  @apply bg-gray-200 rounded-full w-4 h-4 flex items-center justify-center text-[10px] leading-none absolute -right-2 -top-2 text-black;
}

.vfb-config-list-remove {
  @apply dark:bg-dark-500;
}

.vfb-toggle-next-closer {
  @apply -mb-2;
}

.vfb-config-datepicker {
  .flatpickr-calendar {
    @apply left-auto right-0;

    &:before {
      @apply left-auto right-6 top-auto bottom-full;
    }
  }
}

.vfb-mx-px {
  @apply mx-px;
}

.vfb-mb-1 {
  @apply mb-1;
}

.vfb-mb-2 {
  @apply mb-2;
}

.vfb-mt-1\.5 {
  @apply mt-1.5;
}

.vfb-mt-2 {
  @apply mt-2;
}

.vfb-items-endpoint-input {
  @apply -mt-2;
}

.vfb-opacity-60 {
  opacity: 0.6;
}

.vfb-pointer-events-none {
  pointer-events: none;
}

.vfb-border-t-0 {
  border-top: 0 !important;
}

.vfb-columns-current {
  @apply w-full flex justify-between items-center;
}

.vfb-columns-viewport {
  @apply text-xs;
}

.vfb-color-muted {
  @apply form-color-muted;
}

.vfb-full {
  width: 100%;
}

.vfb-text-center {
  text-align: center;
}

.vfb-cursor-pointer {
  cursor: pointer;
}

.vfb-theme-option {
  @apply w-full flex items-center justify-between;
}

.vfb-theme-option-delete {
  @apply text-xxs opacity-40 transition-all hover:opacity-100;
}

.vfb-validation-rule-helper {
  @apply form-px-input mt-1 form-color-muted text-sm;
}

.vfb-form-width-checkbox-container {
  @apply flex items-center h-[36px];
}

.vfb-col-span-12 {
  grid-column: span 12 / span 12 !important;
}

.vfb-multiline-addon,
.vf-addon.vf-addon-before.vfb-multiline-addon,
.vf-addon.vf-addon-before.vf-addon-sm.vfb-multiline-addon {
  @apply pt-2 mt-px items-start;
}

.vfb-border-0 {
  border: 0;
}

.vfb-radius-0 {
  border-radius: 0;
}

.vfb-outline-none {
  outline: none !important;
}

.vfb-h-auto {
  height: auto;
}

.vfb-matrix-list-add,
.vf-btn-list-add.vfb-matrix-list-add {
  @apply w-full text-center py-[0.375rem] form-radius-input form-p-btn mt-0;
}

.vfb-matrix-list-add-empty,
.vf-btn-list-add.vfb-matrix-list-add.vfb-matrix-list-add-empty {
  @apply -mt-4 relative -top-0.5;
}

.vfb-matrix-list-list {
  @apply form-mb-gutter-sm;
}

.vfb-matrix-list-item {
  @apply p-4 form-radius-input form-border-width-input form-border-color-input bg-white dark:bg-dark-800 dark:border-dark-600 ghost:opacity-0;
}

.vfb-matrix-list-handle,
.vf-list-handle.vfb-matrix-list-handle {
  @apply left-1.5 top-4;
}

.vfb-matrix-item-list-label {
  @apply mb-2 font-semibold;
}

.vfb-matrix-item-list-handle {
  @apply left-px;
}

.vfb-matrix-item-list-item {
  @apply ghost:opacity-0;
}

.vfb-props-form-elements {
  gap: 0 !important;
}

.vfb-props-form-element-label {
  @apply leading-snug;
}

.vfb-h-full {
  height: 100%;
}

.vfb-simple-items-label {
  @apply order-2 p-0 mt-1.5 text-gray-500 dark:text-dark-400;
}

.vfb-mt-0 {
  margin-top: 0 !important;
}

.vfb-mb-0 {
  margin-bottom: 0 !important;
}

.vfb-bold {
  @apply font-bold;
}