@tailwind base;
@tailwind components;
@tailwind utilities;

.vfb-builder {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
  text-align: left;
  @apply text-gray-900 dark:text-white;
}

.vfb-builder *, .vfb-builder ::before, .vfb-builder ::after{
  box-sizing: border-box;
}

.vfb-builder textarea{
  resize: vertical;
}

@import './index.scss'